.Arith{
    color: rgb(79, 17, 224);
    text-align: center;
    text-shadow: 2px 2px 5px rgba(144, 238, 144, 0.8);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box{
    border-radius:15px ;
}
.red{
    text-align: center;

}
.color{
    background-color: rgb(209, 188, 231);
}



    
    




